@model Dormamu.Web.Models.Pessoa

@{
    ViewData["Title"] = "Alterar pessoa";
}

<div class="container content-container">

    <div class="container my-5">
        <div class="row p-4 pt-lg-5 align-items-center text-center rounded-3 border shadow-lg">
            <h1>Alterar pessoa</h1>
            <hr />
            <div class="px-5 pt-2 my-5 text-center border-bottom">
                <form asp-action="AlterarPessoa" class="my-5 px-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-floating mb-3 centered-form-control">
                        <input asp-for="Nome" class="form-control" id="nome" placeholder="Nome">
                        <label for="nome">Nome</label>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 centered-form-control">
                        <input asp-for="CPFCNPJ" class="form-control" id="cpfcnpj" placeholder="CPF/CNPJ">
                        <label for="cpfcnpj">CPF/CNPJ</label>
                        <span asp-validation-for="CPFCNPJ" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 centered-form-control">
                        <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                        <label for="email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 centered-form-control">
                        <input asp-for="Telefone" class="form-control" id="telefone" placeholder="Telefone">
                        <label for="telefone">Telefone</label>
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="d-md-flex justify-content-md-end centered-form-control">
                        <button type="submit" class="btn btn-outline-primary">Alterar</button>
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
